html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.m-auto {
  margin: auto !important;
}

.w-100 {
  width: 100% !important;
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.overflow-auto {
  overflow: auto !important;
}

iframe.bhajans {
  width: 600px;
  height: 350px;
}

iframe.song {
  width: 100%;
  height: 350px;
}

@media only screen and (max-width: 650px) {
  iframe.bhajans {
    width: 100%;
  }
}

.p-1 {
  padding: 10px;
}
